{% extends 'base.html.twig' %}

{% block title %}Objet index{% endblock %}

{% block body %}
    <h1>Objet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Image</th>
                <th>Pays</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objet in objets %}
            <tr>
                <td>{{ objet.id }}</td>
                <td>{{ objet.Nom }}</td>
                <td style="background-image:url({{ objet.image }}); height: 100px; width: 100px; background-size: contain; background-repeat: no-repeat;"{{ objet.Image }}</td>
                <td>{{ objet.Pays }}</td>
                <td style="word-wrap: break-word; width: 800px;">{{ objet.Description }}</td>
                <td>
                    <a href="{{ path('objet_show', {'id': objet.id}) }}">show</a>
                    <a href="{{ path('objet_edit', {'id': objet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    

    <a href="{{ path('objet_new') }}">Create new</a>
{% endblock %}
{% block style %}
    <style>
        body{
            background-image:url(https://media-exp1.licdn.com/dms/image/C5603AQGfLiZupUFKCg/profile-displayphoto-shrink_400_400/0/1591948837158?e=1642032000&v=beta&t=3OpzEtzdofASvCedWPyqP9lbHT7eE75K0vdzEk_fOPA);
            background-size:cover;
        }
        th{
            text-align: left;
        }
        td{
            vertical-align: top;
        }
    </style>
{% endblock %}
