{% extends 'base.html.twig' %}

{% block title %}Liste des Objets{% endblock %}

{% block body %}
    <h1 onclick="countClick()">Liste Des Objets</h1>

    <table id="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Image</th>
                <th>Pays</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="tbody">
        {% for objet in objets %}
            <tr>
                <td>{{ objet.id }}</td>
                <td>{{ objet.Nom }}</td>
                <td style="background-image:url({{ objet.image }}); height: 100px; width: 100px; background-size: contain; background-repeat: no-repeat;"{{ objet.Image }}</td>
                <td>{{ objet.Pays }}</td>
                <td style="word-wrap: break-word; width: 800px;">{{ objet.Description }}</td>
                <td>
                    <a href="{{ path('objet_show', {'id': objet.id}) }}">show</a>
                    <a href="{{ path('objet_edit', {'id': objet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    

    <a href="{{ path('objet_new') }}">Create new</a>
{% endblock %}
{% block style %}
    <style>
        h1{
            display: flex;
            justify-content: center;
            color: white;
        }
        table{
            background-color: rgba(220,220,220,0.3);
            position: relative;
            width: 100%;
            height: 100%;
        }

        @keyframes example {
            0%   {left:0px; top:0px;}
            25%   {left:0px; top:200px;}
            50%  {left:200px; top:200px;}
            50%  {left:200px; top:0px;}
            100% {left:0px; top:0px;}
        }
        body{
            background-image:url(https://media-exp1.licdn.com/dms/image/C5603AQGfLiZupUFKCg/profile-displayphoto-shrink_400_400/0/1591948837158?e=1642032000&v=beta&t=3OpzEtzdofASvCedWPyqP9lbHT7eE75K0vdzEk_fOPA);
            background-color: #435B7B;
            background-size:cover;
        }
        th{
            text-align: left;
        }
        td{
            vertical-align: top;
        }
    </style>
{% endblock %}

{% block script %}
    let clicks = 0

    function countClick() {
    clicks++;
    if(clicks === 10){
    let table = document.getElementById("table")
    table.style.animationName = "example";
    table.style.animationDuration = "4s";
    }
    }
{% endblock %}
